{% comment %}

  The {{ content_for_header }} in theme.liquid will output the following stylesheet just for this page:
    - <link rel="stylesheet" href="/global/search.css" type="text/css">

  It has a few helpers in there, but this theme writes its own styles so there
  are no dependencies or conflicts. You can ignore that file.

  Return only products or pages in results:
    - http://docs.shopify.com/manual/configuration/store-customization/return-only-product-in-storefront-search-results
    - Or manually add type=product or type=page to the search URL as a parameter

{% endcomment %}

{% capture search_title %}
  {% if search.performed and search.results_count == 0 %}
    {{ settings.search_title_no_results }}
  {% endif %}

  {% if search.results_count > 0 %}
    {{ settings.search_title_results }}
  {% endif %}

  {% if search.performed == false %}
    {{ settings.search_title_no_search }}
  {% endif %}
{% endcapture %}

{% capture search_header %}
  <h1>
    {{ search_title | strip | replace: "[KEYWORDS]", search.terms }}
  </h1>
  {% unless search.performed %}
    {% include 'search-form' %}
  {% endunless %}
{% endcapture %}

{% comment %}
  If you're only showing products with the method above, why not show them off in a grid instead?
  Set grid_results to true and see your updated results page for the new layout.
{% endcomment %}
{% assign grid_results = false %}

<div class="grid">
  <div class="grid-item">

    {{ search_header }}

    {% if search.performed and search.results_count > 0 %}
      {% paginate search.results by 10 %}

          {% if grid_results == false %}
            {% for item in search.results %}
              {% include 'search-result' %}
            {% endfor %}
          {% endif %}

          {% if paginate.pages > 1 %}
            <div class="text-center">
              {% include 'pagination-custom' %}
            </div>
          {% endif %}

      {% endpaginate %}
    {% endif %}

  </div>
</div>
